body {
    margin: 0;
    padding: 0;
    background-color:floralwhite ;
  }


  h1 {
    position: absolute;
    left: 60px;
    top: 60px;
    text-align: center; 
    background-color: #87CEFA;
    border-radius: 50%;
    margin: 0 auto;
    height: 100px;
    width: 110px;
    font-size: 60px;
 font-family: 'Sora', sans-serif;
  }


  li {
    font-size: 20px;
    list-style: none;
    padding: 20px;
    padding-right: 20px;
    border-style: solid;
    font-family: 'Merriweather', serif;
    margin-left: 25%;
    margin-right:25%;
    margin-bottom: 10px;
  
    width: 40%
  }

  #meditations-list {
    font-size: 20px;
    background-color: #87CEFA;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
    position: absolute;
    left: 400px;
    top: 60px;
    padding: 1rem;
  }

  menu-options{ 
    margin-left: 10px;
    margin-right: 10px;
  }

  #meditation-controls-container {
    display: none;
       font-size: 2em;
   
     text-align: center;
     position: absolute;
     top: 475px;
     margin-left: 25%;
     margin-right:25%;
     width: 50%;
  }

  #meditation-content-display {
     font-size: 2em;
     display: block;
     text-align: center;
     position: absolute;
     top: 425px;
     margin-left: 25%;
     margin-right:25%;
     width: 50%;
  }

  #breathing-bubble {
    top: 500px;


  }
  #add-comment {
    display: none;
    position: absolute;
    top: 100px;
  }

  #comment-list{
    font-size: 2em;
    display: block;
    text-align: left;
    position: absolute;
    top: 290px;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
  }

  #comment-form {
    display: none;
    font-size: 2em;
    top: 240px;
    text-align: center;
    position: absolute;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
  }

  #add-comment-button {
    text-align: center;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }

  button {
    font-size: 20px;
    background-color: #87CEFA;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
  }

  button.release {
    float: right;
    background-color: #E1332D;
  }

  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }



